body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.container {
    max-width: 800px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

header {
     position: sticky;
    width: 100%;
    background-color: #92E3A9;
    color: white;
     z-index: 10000;
     border-radius: 5px;
     margin-bottom: 20px;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

h1 {
    margin-top: 10px;
    color: #333;
}

#hero-section img {
    width: 100%;
    border-radius: 5px;
}
section {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}

section h2 {
    color: #4267B2;
}

section p {
    color: #555;
}

button {
    width: 100%;
    background-color: #92e3a9;
    color: white;
    padding: 10px 10px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.bottom-navbar a {
    text-decoration: none;
    color: #4267B2;
}

.bottom-navbar img {
    width: 24px;
    height: 24px;
}

/* Add this at the end of your existing CSS */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.sign-up-form {
    background-color: #fafafab6;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(8, 7, 7, 0.3);
    text-align: center;
}

.sign-up-form h2 {
    color: #3666c6;
}

.sign-up-form label {
    display: block;
    margin-top: 10px;
}

.sign-up-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

.sign-up-form button {
    background-color: #22468e;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.image-section {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

.image-section img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    border-radius: 2px;
    border: #22468e;
}
.layout-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin: 40 auto;
}

.column {
    box-sizing: border-box;
    width: 48%; /* Adjust the width as needed */
    padding: 20px;
    background-color: #92e3a9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

