/* Add this at the end of your existing CSS */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4267B2;
    padding: 10px 0;
    text-align: center;
}

nav img {
    width: 120px;
}

.loan-application-container {
    max-width: 100%;
    margin: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #1877f2;
    font-size: 1.5em;
}

form {
    text-align: left;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input,
select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4267B2;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #345185;
}

/* Popup Styles */
.popup {
    width: 80%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffab;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.popup p {
    margin-bottom: 10px;
}

/* Bottom Navigation Bar */
.bottom-navbar {
    background-color: #f0f2f5;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-navbar a {
    text-decoration: none;
    color: #4267B2;
    font-size: 18px;
}

.bottom-navbar a:hover {
    color: #345185;
}
